{% extends 'base.html' %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8dGVjaG5vbG9neXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" class="d-block mx-lg-auto img-fluid" alt="MESCOE"
        width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{{club.club_name}}</h1>
      <h4>About Club 1</h4>
      <p class="lead">{{club.club_desc}}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Home</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Sign In</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}