{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'devs.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"
		referrerpolicy="no-referrer" />
</head>

<body>
	<div class="card-container">

		<img class="round" src="https://ik.imagekit.io/datap/Mag-E/Rutuja_Qdv2n5DAl.jpg" alt="user" />
		<h3>Rutuja Gaikwad</h3>
		<h6>Student, MESCOE</h6>
		<p class='socials'>
			<a href="https://www.instagram.com/rutuja___3/"><i class="fab fa-instagram"></i></a>
			<a><i class="fab fa-github"></i></a>
			<a href="https://www.linkedin.com/in/rutuja-gaikwad-a5a57b199/"><i class="fab fa-linkedin"></i></a>

		</p>


	</div>
	<div class="card-container">

		<img class="round" src="https://ik.imagekit.io/datap/Mag-E/Indrayani_W6f4w7Rll.jpeg" alt="user" />
		<h3>Indrayani Ronge</h3>
		<h6>Student, MESCOE</h6>
		<p class='socials'>

			<a href="https://github.com/tanaya8982"><i class="fab fa-github"></i></a>
			<a href="https://www.linkedin.com/in/indrayani-ronge-136264207"><i class="fab fa-linkedin"></i></a>

		</p>


	</div>
	<div class="card-container">

		<img class="round" src="https://ik.imagekit.io/datap/Mag-E/Vaishnavi_MdDlu9dRM.jpeg" alt="user" />
		<h3>Vaishnavi Sharma</h3>
		<h6>Student, MESCOE</h6>
		<p class='socials'>
			<a href='https://www.instagram.com/vaishnavi_3131/'><i class="fab fa-instagram"></i></a>
			<a href="https://github.com/vaishnavi3131"><i class="fab fa-github"></i></a>
			<a href="https://www.linkedin.com/in/vaishnavi-d-sharma-1a9284214"><i class="fab fa-linkedin"></i></a>

		</p>


	</div>
	<div class="card-container">

		<img class="round" src="https://ik.imagekit.io/datap/Mag-E/Jui_guakaz0xs.jpeg" alt="user" />
		<h3>Jui Kulkarni</h3>
		<h6>Student, MESCOE</h6>
		<p class='socials'>

			<a href='https://github.com/jkulkarni01'><i class="fab fa-github"></i></a>
			<a href="https://www.facebook.com/jui.kulkarni.391"><i class="fab fa-facebook"></i></a>

		</p>


	</div>
	<div class="card-container">

		<img class="round" src="https://ik.imagekit.io/datap/Mag-E/Garry_LD44b0H9GZ.jpg" alt="user" />
		<h3>Gaurav Kulkarni</h3>
		<h6>Student, MESCOE</h6>
		<p class='socials'>
			<a href="https://www.instagram.com/mr.perfect_time/"><i class="fab fa-instagram"></i></a>
			<a href='https://github.com/gkulk007'><i class="fab fa-github"></i></a>
			<a href="https://www.linkedin.com/in/gkulk007/"><i class="fab fa-linkedin"></i></a>
			<a href="https://twitter.com/gaurav_kulk"><i class="fab fa-twitter"></i></a>
		</p>

	</div>

</body>

</html>