{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wanna Add Something?</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
	<div class="animateme">
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="container">
		<form id="form" method="post">
			{% csrf_token %}
			<h2>Wanna add something?</h2>
			<div class="form-control">
				<label for="title">Title of Activity</label>
				<input type="text" id="title" name='Activity' placeholder="Enter Title">
				<small>Error Message</small>
			</div>
			<div class="form-control">
				<label for="club">Club/Organizers</label>
				<input type="text" id="club" name='Club' placeholder="Enter Club/Organizers">
				<small>Error Message</small>
			</div>
			<div class="form-control">
				<label for="Date">Date and Time</label>
				<input type="Date" id="Date" name='date' placeholder="Enter Date">
				<!-- <label for="Password">Date and Time</label> -->
				<input type="Time" id="Time" name='time' placeholder="Enter Time">
				<small>Error Message</small>
			</div>
			<div class="form-control">
				<label for="Details">Details</label>
				<textarea type="text" id="Details" name='details' placeholder="Enter Details"></textarea>
				<small>Error Message</small>
			</div>
			<button type=submit>Submit</button>
		</form>
	</div>

</body>

</html>